@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<body class="client">
<div class="container-fluid container-pop4">
    <h5 style="overflow-y: hidden;" class="content2 text-center mb-3">Join <br> Bluework</h5>
<div class="row p-4">
    <div class="col-md-12">
                <section>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="/Account/ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn googlebtn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa-brands fa-google fa-b"></i>Continue with @provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="line-container mb-3">
                    <hr class="line">
                    <span class="line-text">OR</span>
                    <hr class="line">
                </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
             <div class="form-floating mb-3">
               <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" />
               <label asp-for="Input.FirstName">FirstName</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3">
               <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true"/>
               <label asp-for="Input.LastName">LastName</label>
               <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3">
                <select asp-for="Input.Role" asp-items="@Model.Input.RolesList" class="form-select" aria-required="true"> 
                    <option disabled selected>Select Role</option>
                </select>
                <label asp-for="Input.Role">Role</label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-2">Register</button>
                    <p class="member1">
                        Already have an account? <a class="text-primary" id="login" asp-area="Identity" asp-page="/Account/Login"> Login</a>
                    </p>
        </form>
    </div>
    
</div>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
